<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/Styles/style.css">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:site_name" content="IBD TT">
    <meta property="og:image" content="https://i.imgur.com/I6JA043.png">
    <meta property="og:description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <meta name="author" content="{{author}}">
    <meta name="theme-color" content="#8640f9">
    <link rel="shortcut icon" href="/assets/ibdtt.png" type="image/x-icon">
    <!-- Netlify Identity Widget -->
        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!--FONTS-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <!--FONTAWESOME-->
        <script src="https://kit.fontawesome.com/dd288639ff.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'nav.njk' %}
    {{content | safe}}
    {% include 'footer.njk' %}
    <button id="scrollTopBtn"><i class="fa-solid fa-arrow-up"></i></button>
    <script src="/app.js"></script>
    <script>
        // Initialize Netlify Identity
        if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', user => {
            if (!user) {
            window.netlifyIdentity.on('login', () => {
                document.location.href = '/admin/';
            });
            }
        });
        window.netlifyIdentity.init();
        }

        const scrollBtn = document.getElementById("scrollTopBtn");

        // Show button after scrolling down 300px
        window.addEventListener('scroll', () => {
            if (window.scrollY > 150) {
            scrollBtn.style.display = 'block';
            } else {
            scrollBtn.style.display = 'none';
            }
        });

        // Smooth scroll to top
        scrollBtn.addEventListener('click', () => {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });

  </script>
</body>
</html>