    <div class="slide" style="background-image: url('{{post.data.image}}');">
      <div class="slide-content">
        <h2>{{post.data.title}}</h2>
        <p>{{post.data.description}}</p>
        <a href="{{post.url}}" class="btn">Read More</a>
      </div>
    </div>
