<footer class="footer">
  <div class="footer-content">
    <div class="footer-about">
      <h3>Project IBD TT</h3>
      <p>Raising awareness, educating, and supporting individuals living with Inflammatory Bowel Disease in Trinidad & Tobago. <br><br> Founded by Christopher Seebaran <br> October 2025</p>
    </div>

    <div class="footer-links">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="/Articles">Articles</a></li>
        <li><a href="/#aboutIBD">What is IBD</a></li>
        <li><a href="/#team">Our Team</a></li>
        <li><a href="/Contact">Contact Us</a></li>
        <li><a href="/Link-in-Bio">Link in Bio</a></li>
      </ul>
    </div>

    <div class="footer-social">
      <h4>Connect</h4>
      <div class="social-icons">
        <a href="https://www.instagram.com/ibd.tt/"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/instagram.svg" alt="Instagram"></a>
        <!--<a href="#"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/facebook.svg" alt="Facebook"></a>
        <a href="#"><img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/twitter.svg" alt="Twitter"></a>-->
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Coded with <i class="fa-solid fa-heart"></i> by Krish</p><br>
    <p>&copy; 2025 Project IBD TT — All Rights Reserved.</p>
  </div>
</footer>
