  <footer>
    <div class="footer-content">
      <p>Made with ❤️ by Krish</p>
      <br />
      <p>&copy; 2025 IBD TT | All rights reserved.</p>
      <br />
      <p><a href="/privacy-policy.html">Privacy Policy</a> | <a href="/terms-of-service.html">Terms of Service</a></p>
    </div>
  </footer>