  <nav class="mobileNav">
    <div class="logo-container">
      <a href="/"><img src="/assets/ibdtt.png" alt="Logo"></a>
    </div>
    <div class="hamburger" id="hamburger" onclick="mobileNavMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
  <div class="mobileNavOverlay" id="mobileNavOverlay" onclick="mobileNavMenu()"></div>

  <div class="side-menu" id="sideMenu">
    <a href="/#Team">The IBDTT Team</a>
    <a href="/Learn">Learn about IBD</a>
    <a href="/contact">Contact Us!</a>
  </div>