---
title: Articles
layout: 'base.njk'
---
<header class="blog-header">
  <h1>IBD TT Articles</h1>
  <p>Insights, stories, and updates</p>
</header>
<section class="blog-posts">
  <div class="posts-grid">
    {%- for post in collections.ibdtt | reverse -%}
      {% include 'regularArticle.njk' %}
    {%- endfor -%}
  </div>
</section>
